<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <title>Dodawanie ocen ucznia</title>
</head>
<body>
<h2 th:text="${'Dodaj Użytkownika'}"></h2>

<div>
    <h3 th:text="|indeks Użytkownika ${id}|"></h3>
    <h3 th:text="|nazwa Użytkownika ${user.username}|"></h3>
    <h3 th:text="|Typ Użytkownika ${user.userType}|"></h3>
    <h3 th:text="|imie Użytkownika ${user.firstName}|"></h3>
    <h3 th:text="|nazwisko Użytkownika ${user.lastName}|"></h3>
    <h3 th:text="|data urodzenia Użytkownika ${user.dateOfBirth}|"></h3>
</div>

<a th:href="@{{id}/update(id=${id})}" th:text="|modyfikuj uzytkownika|"/>
<a th:href="@{{id}/delete(id=${id})}" th:text="|usuń uzytkownika|"/>

<a th:href="@{'../users'}" th:text="Wróć"/>
</body>
</html>