<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Generuj link udostępnienia</title>
</head>
<body>

<h2>Generuj link do udostępnienia ocen z przedmiotu</h2>

<form th:object="${shareForm}" th:action="@{/teacher/share/generate}" method="post">

    <div>
        <div th:if="${#fields.hasErrors('subjectName')}"
             th:errors="*{subjectName}">Błąd</div>
    </div>
        <label for="subjectId">Przedmiot:</label>
        <select th:field="*{subjectName}" name="subjectName" id="subjectId" >
            <option value=""></option>
            <option th:each="subject : ${subjects}"
                    th:value="${subject.id}"
                    th:text="${subject.name}">Matematyka</option>
        </select>

    </div>

    <div>
        <div th:if="${#fields.hasErrors('grantedToTeacherId')}"
             th:errors="*{grantedToTeacherId}">Błąd</div>
        <label for="recipientId">Udostępnij nauczycielowi:</label>
        <select th:field="*{grantedToTeacherId}" name="grantedToTeacherId" id="recipientId" >
            <option value=""></option>
            <option th:each="teacher : ${otherTeachers}"
                    th:value="${teacher.id}"
                    th:text="${teacher.firstName}+' '+${teacher.lastName}">Anna Nowak</option>
        </select>


    </div>

    <div>
        <label for="expiresAt">Data wygaśnięcia linku:</label>
        <input type="date" th:field="*{expiresAt}" id="expiresAt" name="expiresAt">
    </div>

    <div>
        <button type="submit">Wygeneruj link</button>
    </div>

</form>
<div>
<a th:href="@{./}" th:text="'Powrót'"></a>
</div>
</body>
</html>