<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie ocen ucznia</title>
</head>
<body>
    <h2 th:text="${'Dodaj ocene dla ucznia '+ student.firstName+' '+student.lastName}"></h2>
    <form th:object="${grade}" th:action="@{${isUpdate ? 'update' : 'add'}}" th:method="post">

        <input type="number" name="grade" min="1" max="5" value="1" th:field="*{grade}" >
        <input type="number" name="weight" min="1" max="5" value="1" th:field="*{weight}" >
        <select name="subject" th:field="*{subject}" >
            <option th:value="-1"
                    th:text="|Wybierz odpowiedni przedmiot|"></option>
            <option th:each="subject:${subjects}"
                    th:value="${subject.id}"
                    th:text="${subject.name}">
            </option><br/>
        </select></br>
        <textarea th:field="*{description}"></textarea><br/>
        <input type="submit" value="Zapisz">
    </form>
</body>
</html>