<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1 th:text="|Student ${studentId} Grades|"></h1>
    <h3 th:if="${grades.size()==0}"
        th:text="|There are no grades for student id = ${studentId}|"></h3>
    <ol>
        <li th:each="grade:${grades}">
            <ul>
                <li th:text="|indeks oceny: ${grade.gradeId}|"></li>
                <li th:text="|Przedmiot: ${grade.subject}|"></li>
                <li th:text="|Ocena: ${grade.grade}|"></li>
                <li th:text="|Waga: ${grade.weight} |"></li>
                <li th:text="|Opis: ${grade.description} |"></li>
            </ul>
            <a th:href="@{{id}/update(id=${grade.gradeId})}" th:text="'Edytuj'"/>
        </li>
    </ol>
    <a th:href="@{'add'}" th:text="'Dodaj nową ocenę'"/><br/>
    <a th:href="@{../}" th:text="'Powrót'"/>
</div>
</body>
</html>