<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie użytkowników</title>
</head>
<body>
<h2 th:text="${'Dodaj Użytkownika'}"></h2>
<form th:object="${newUser}" th:action="@{${isUpdate ? 'update' : 'addUser'}}" th:method="post">

    <label>Nazwa użytkownika</label>
    <input type="text" name="username" th:field="*{username}" ><br>
    <label>Hasło</label>
    <input type="password" name="password" th:field="*{password}" ><br>
    <label>Typ Użytkownika</label>
    <select name="userType" th:field="*{userType}" >
        <option
                th:value="student"
                th:text="Student">
        </option>
        <option
                th:value="teacher"
                th:text="Nauczyciel">
        </option>
        <option
                th:value="admin"
                th:text="Admin">
        </option><br/>
    </select></br>
    <div th:if="${isUpdate}">
        <label>Imię</label>
        <input type="text" name="name" th:field="*{firstName}" ><br>
        <label>Nazwisko</label>
        <input type="text" name="lastname" th:field="*{lastName}" ><br>
        <label>Data Urodzenia</label>
        <input type="date" name="username" th:field="*{dateOfBirth}" ><br>
    </div>
    <input type="submit" value="Zapisz">
</form>
<a th:href="@{${isUpdate ? '../../users' : './users'}}" th:text="'Anuluj'"/>
</body>
</html>